.career-content {
    padding-top: 86px;
}

.career-content .section-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}
.loader { 
    display: none; 
    border: 4px solid rgba(255, 255, 255, 0.3); 
    border-top: 4px solid blue; 
    border-radius: 50%; 
    width: 25px; 
    height: 25px; 
    animation: spin 1s linear infinite; 
    margin-left: 10px; 
} 

.form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.apply-now {
    text-decoration: none;
    align-items: center;
}

.career-content h2 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
    animation: ttext 0.5s ease;
}

.career-content p {
    font-size: 20px;
    line-height: 32px;
    animation: ttext 0.7s ease;
}

.lifeatrckr {
    display: flex;
}

.lifeatrckr a {
    animation: ttext 1.4s ease;
}

.emp-benefits {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.emp-benefits>div {
    width: calc(50% - 25px);
}

.emp-benefits h2 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
}

.emp-benefits p {
    font-size: 20px;
    line-height: 32px;
}

.emp-benefits li {
    font-size: 20px;
    line-height: 32px;
}

.emp-benefits figure {
    background: #f0f0f0;
    padding: 50px;
    margin: 0 0 20px;
}

.small-bu {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #f86734;
    border-radius: 10px;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .emp-benefits {
        flex-direction: column;
    }

    .emp-benefits>div {
        width: 100%;
        margin-bottom: 50px;
    }
}

.career-page main {
    background: url(../images/grey-bg.svg) no-repeat -300px 600px;
    background-size: 500px;
    animation: move-ring 0.9s ease;
}

.career-page .main-wrapper {
    background: url(../images/light-red-bg.svg) no-repeat right -300px top 1300px;
    background-size: 500px;
    animation: red-ring 0.9s ease;
}

.career-pic1 {
    width: calc((100vw - 1280px) / 2);
    background: url(../images/office.png) no-repeat center bottom;
    background-size: cover;
    flex-shrink: 0;

    border-left: none;
}

.career-pic-content {
    max-width: 660px;
    padding: 0 30px;
}

.career-pic2 {
    width: 100%;
    background: url(./images/outing.png) no-repeat left bottom;
    background-size: cover;

    border-right: none;
}

.dev-challenge-submit {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
    border-radius: 10px;
}

.dev-challenge-submit .text-wrapper {
    max-width: 250px;
    padding: 20px;
}

.error {
    box-sizing: border-box;
    color: red;
}

.success {
    box-sizing: border-box;
    color: rgb(101 213 135);
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.popup .popup-box {
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    max-height: calc(100vh - 100px);
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
}

.popup .popup-box .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
}

.popup .popup-box .close:before, .popup .popup-box .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.popup .popup-box .close:before {
    transform: rotate(45deg);
}

.popup .popup-box .close:after {
    transform: rotate(-45deg);
}


@media screen and (max-width: 1280px) {
    .lifeatrckr {
        flex-direction: row-reverse;
    }

    .career-pic1 {
        width: 50%;
        border-right: none;
    }

    .career-pic-content {
        width: 50%;
    }

    .career-pic2 {
        width: 50%;
        display: none;
    }

    .dev-challenge-submit {
        width: 100%;
        padding: 20px;
        border-radius: 10px;
    }

    .challenge-wrapper {
        width: 100vw;
    }

    .challenge-wrapper * {
        width: 100vw;
        padding: 10px;
    }
}

.hide-scroll{
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .career-content {
        padding-top: 70px;
    }

    .lifeatrckr {
        flex-direction: column;
    }

    .career-pic1 {
        width: 100%;
        height: 300px;
        border: none;
        background-position: center 75%;
    }

    .career-pic-content {
        width: 100%;
        max-width: 100%;
        padding: 30px;
    }

    .career-pic2 {
        width: 100%;
        height: 300px;
        border: none;
        display: none;
    }
}