.section-wrapper-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.wrapper-contact-us{
    padding: 0px 70px;
}
.contact-us-image{
    flex:1
}
.contactus-content h1 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
    animation: ttext 0.5s ease;
}
.loader { 
    display: none; 
    border: 4px solid rgba(255, 255, 255, 0.3); 
    border-top: 4px solid blue; 
    border-radius: 50%; 
    width: 25px; 
    height: 25px; 
    animation: spin 1s linear infinite; 
    margin-left: 10px; 
} 
  
@keyframes spin { 
    0% { 
        transform: rotate(0deg); 
    } 
  
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.loading { 
    background-color: #ccc; 
    pointer-events: none; 
}

.contactus-page1{
    padding-left: 20px;
}

.contactus-content .section-wrapper{
    max-width: 100%;
}

.contactus-content p {
    font-size: 20px;
    line-height: 32px;
    animation: ttext 1s ease;
}
.contactus-content{
    padding-top: 100px;
}

.contactus-form{
    flex:2;
}

.dev-challenge-submit input{
    background-color: #f0f0f0;
}

.dev-challenge-submit-wrapper{
    background: #f0f0f0;
    padding: 10px;
}

.dev-challenge-submit-wrapper .contactus-form{
    flex:1;
}

.dev-challenge-submit-wrapper .text-wrapper{
    padding: 10px;
}

.dev-challenge-submit-wrapper .text-wrapper h2{
    margin: 0;
}

.contactus-form form{
    width: 70%; 
}
.form-row{
    margin-bottom: 30px;
    position: relative;
}
.form-element{
    width: 100%;
    padding: 6px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form-element:focus {
    outline: none;
}
.form-btn{
    padding: 10px 20px;
    color: #fff;
    background: #f86734;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 16px;
    border: 1px solid #f86734;
}
.form-btn:hover{
    background-color: #fff;
    border: 1px solid #f86734;
    color:#f86734;
    transition: 0.2s ease-in;
}

.form-row label{
    transition: all .3s;
    position: absolute;
    top: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #00000082;
}

.form-row input{
    width: 90%;
}
.form-row.active > label{
    transform: translateY(-24px);
    visibility: visible;
    font-size: 13px;
    color: #00000075;
}
/* end of form control */

/* gmap section */
.gmap-frame{
    padding-bottom: 60px;
}
.map-cards{
    display: flex;
}
.card{
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 0.25rem;
    box-shadow: 0 1px 11px 0 rgb(0 0 0 / 20%), 0 0px 0px 0 rgb(0 0 0 / 15%);
}
.card-column{
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}
.card-body{
    padding: 16px 16px;
}
.map-cards h5{
    margin: 0;
    font-size: 20px;
}
.gmap-frame iframe{
    width: 100%;
}
/* end of gmap section */

/* office-info section */

.office-info{
    margin-bottom : 100px;
    background: #1b2833;
}

/* end of office-info */

@media screen and (max-width: 650px) {
    .contactus-form form{
        width: 100%; 
    }
    .map-cards{
        display: block;
    }
    .card-column{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-top: 8px;
    }
}

@media screen and (max-width: 800px) {
    .contact-us-image{
        display: none;
    }

}