.small-bu {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #f86734;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.current-opening h2 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
}
.current-opening {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
.current-opening > div {
    width: 50%;
    display: flex;
}
.opening-heading {
    display: flex;
    margin-left: auto;
    min-height: 80vh;
    background: #f0f0f0;
}
.opening-heading > div {
    max-width: 640px;
    margin-left: auto;
    width: 100%;
    padding: 80px 40px 40px 60px;
}
.opening-list {
    display: flex;
    flex-wrap: wrap;
    margin: -60vh 0 0 -20px;
    padding-bottom: 100px;
    min-height:575px;
}
.opening-list > div {
    max-height: 280px;
    background-color: #fff;
    box-shadow: 4px 20px 47px 0 rgb(0 0 0 / 10%);
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: calc(33.333% - 40px);
    margin: 20px;
    min-height: 300px;
    background: linear-gradient(to right top, #eff7cf 25%, #fff 25%);
    background-size: 401% 400%;
    background-position: right bottom;
    transition: all 0.5s ease;
}
.opening-list > div:hover {
    background-position: left bottom;
}
.opening-list h2 {
    font-size: 32px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
}
.opening-list > div a {
    margin-top: auto;
    margin-right: auto;
}

@media screen and (max-width: 1300px) {
    .opening-heading > div {
        padding-left: 40px;
    }
}
@media screen and (max-width: 1025px) {
    .current-opening > div {
        width: auto;
        margin-left: 0;
    }
    .opening-list > div {
        width: calc(50% - 40px);
    }
}
@media screen and (max-width: 700px) {
    .opening-heading > div {
        padding-left: 20px;
        padding-top: 40px;
    }
}
@media screen and (max-width: 600px) {
   
    .opening-list > div {
        width: calc(100% - 20px);
        min-height: 0;
    }
    .opening-list > div a {
        margin-top: 20px;
    }
}

.challenge-question{
    display: flex;
    padding: 25px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.challenge-question p {
    font-size: 20px;
    line-height: 32px;
}

.submit-wrapper{
    padding-top: 25px;
}

.form-row{
    margin-bottom: 30px;
    position: relative;
}

.form-row label{
    transition: all .3s;
    position: absolute;
    top: 10px;
}
.form-row.active > label{
    transform: translateY(-24px);
    visibility: visible;
    font-size: 13px;
    color: #00000075;
}

.form-element{
    width: 100%;
    padding: 6px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form-element:focus {
    outline: none;
}