/* barlow-100 - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 100;
    src: local(""), url("../fonts/barlow-v11-latin-100.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-100italic - latin */
@font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 100;
    src: local(""), url("../fonts/barlow-v11-latin-100italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-200 - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("../fonts/barlow-v11-latin-200.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-200italic - latin */
@font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 200;
    src: local(""), url("../fonts/barlow-v11-latin-200italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-200italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-300 - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("../fonts/barlow-v11-latin-300.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-300italic - latin */
@font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 300;
    src: local(""), url("../fonts/barlow-v11-latin-300italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-regular - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/barlow-v11-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-italic - latin */
@font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../fonts/barlow-v11-latin-italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/barlow-v11-latin-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500italic - latin */
@font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 500;
    src: local(""), url("../fonts/barlow-v11-latin-500italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("../fonts/barlow-v11-latin-600.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600italic - latin */
@font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 600;
    src: local(""), url("../fonts/barlow-v11-latin-600italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/barlow-v11-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/barlow-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700italic - latin */
@font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../fonts/barlow-v11-latin-700italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/barlow-v11-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
