footer {
    padding: 50px 0;
    border-top: 1px solid #eee;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.footer-links dl {
    margin: 0 20px 0 0;
}
.footer-links dt {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
    white-space: nowrap;
}
.footer-links a {
    color: #000;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}
.footer-links dd {
    margin: 0;
    padding: 10px 0;
}
.copyright {
    padding-top: 50px;
}
@media screen and (max-width: 500px) {
    footer {
        padding: 0;
    }
    .footer-links {
        flex-wrap: wrap;
    }
    .footer-links dl {
        width: calc(50% - 20px);
    }
    .footer-links dl:last-child {
        margin-top: 30px;
        width: 100%;
    }
}
