body {
    background: #fff url(../images/d-bg.svg) no-repeat right top;
    background-size: 55%;
}
.home-page {
    animation: landing-bg 1s ease;
}
button{
    all:unset;
    cursor: pointer;
}
@keyframes landing-bg {
    0% {
        background-size: 0;
    }

    100% {
        background-size: 55%;
    }
}
@media (max-width: 1400px) {
    body {
        background-size: 65%;
    }
    .home-page {
        animation: landing-bg-small 0.5s ease;
    }
}
@keyframes landing-bg-small {
    0% {
        background-size: 0;
    }

    100% {
        background-size: 65%;
    }
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all ease 0.5s;
}
.default-header-wrapper {
    margin: 0 auto;
    height: 70px;
    max-width: 1280px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo svg {
    height: 32px;
}
.home-page header nav {
    animation: header 1s ease;
    transition: all ease 0.25;
}

@keyframes header {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@media (max-width: 1400px) {
    .home-page header nav {
        animation: header-small 0.8s ease;
    }
}
@keyframes header-small {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@media (min-width: 1025px) {
    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    header nav ul a {
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        font-weight: 600;
        font-size: 17px;
        transition: all ease 0.5;
    }
    header nav ul li.active {
        position: relative;
    }
    header nav ul li.active::after {
        content: "";
        left: 20px;
        bottom: 4px;
        width: calc(100% - 40px);
        height: 1px;
        border-bottom: 2px solid #fff;
        transition: all ease 0.25;
        position: absolute;
    }
    header nav ul a:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    .header-popup header {
        position: fixed;
        background: #fff;
        top: -70px;
        box-shadow: 0 2px 2px rgb(0 0 0 / 5%), 0 1px 0 rgb(0 0 0 / 5%);
    }
    .header-popup-show header {
        top: 0px;
    }
    .header-popup header nav ul a {
        color: #000;
    }
    .header-popup header nav ul li.active::after {
        border-bottom-color: #000;
    }

    .normal-header header {
        top: 0;
    }
}
.mobile-menu-icon {
    display: none;
}
@media (max-width: 1025px) {
    .default-header-wrapper {
        padding: 0 20px;
    }
    header {
        background: #fff;
        transition: none;
        box-shadow: 0 2px 2px rgb(0 0 0 / 5%), 0 1px 0 rgb(0 0 0 / 5%);
        position: fixed;
        top: 0;
    }
    header nav {
        transition: none;
        animation: none;
    }

    .mobile-menu-icon {
        display: block;
    }
    nav ul {
        display: none;
    }
    .mobile-menu-icon .menu-button {
        display: flex;
        height: 40px;
        width: 40px;
        flex-direction: column;
        justify-content: space-around;
        padding: 8px;
        cursor: pointer;
    }
    .mobile-menu-icon .menu-button::before,
    .mobile-menu-icon .menu-button::after,
    .mobile-menu-icon .menu-button span {
        content: "";
        height: 3px;
        background: #000;
        width: 100%;
        border-radius: 10px;
    }

    nav ul {
        position: fixed;
        justify-content: center;
        top: 69px;
        width: 100%;
        height: calc(100% - 69px);
        left: 0;
        background: #fff;
        margin: 0;
        list-style: none;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
        overflow: auto;
    }
    nav ul li {
        width: 100%;
        max-width: 280px;
    }
    nav ul li a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 20px 10px;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        background: url(../images/right-arrow.svg) no-repeat right 10px center;
    }
    nav ul li a::after {
        content: "";
        left: 10px;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: #eee;
        position: absolute;
    }
    .showMenu {
        overflow: hidden;
    }
    .showMenu nav ul {
        display: flex;
        border-top: 1px solid #ddd;
    }
    .showMenu span {
        display: none;
    }
    .showMenu .mobile-menu-icon .menu-button {
        position: relative;
    }
    .showMenu .mobile-menu-icon .menu-button::before,
    .showMenu .mobile-menu-icon .menu-button::after {
        position: absolute;
        width: 25px;
    }
    .showMenu .mobile-menu-icon .menu-button::before {
        transform: rotate(45deg);
    }
    .showMenu .mobile-menu-icon .menu-button::after {
        transform: rotate(-45deg);
    }
}
