.landing-page-content {
    max-height: 650px;
    height: 100vh;
    padding: 110px 0 0;
}

.section-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 40px;
    position: relative;
}
.landing-page-content .section-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}
.title-content {
    color: #000;
    position: absolute;
    z-index: 11;
    width: 50%;
}
.title-content a {
    text-decoration: none;
}
.title-content h2 {
    animation: ttext 0.5s ease;
}
.title-content p {
    animation: ttext 0.7s ease;
}
.title-content .learn-more {
    animation: ttext 0.9s ease;
}
@keyframes ttext {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.title-content h2 {
    font-size: 50px;
    line-height: 1em;
    margin: 0;
}
.title-content p {
    font-size: 20px;
    line-height: 32px;
    max-width: 70%;
}
.learn-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #f86734;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
.landing-page-animations {
    position: absolute;
    width: 780px;
    height: 687px;
    z-index: 10;
    right: 100px;
    top: -15px;
}
@media screen and (max-width: 1200px) {
    .landing-page-animations {
        width: 700px;
    }
    .landing-page-content {
        max-height: 620px;
    }
}
@media screen and (max-width: 1025px) {
    .landing-page-animations {
        width: 630px;
        right: 30px;
        top: 0;
    }
    .title-content {
        width: 70%;
    }
}
@media screen and (max-width: 900px) {
    .landing-page-animations {
        width: 600px;
        top: 60px;
    }
}
@media screen and (max-width: 800px) {
    .landing-page-animations {
        width: 500px;
        top: 90px;
    }
}
@media screen and (max-width: 700px) {
    .landing-page-content {
        height: auto;
        max-height: none;
        padding-top: 70px;
    }
    .title-content,
    .landing-page-animations {
        position: relative;
        width: 100%;
        height: auto;
    }
    .title-content {
        max-width: 450px;
        margin: 0 auto 0 0;
    }

    .landing-page-animations {
        right: 0;
        top: 0px;
        max-width: 400px;
        margin-right: auto;
    }
    .landing-page-content .section-wrapper {
        flex-direction: column;
    }
    .section-wrapper {
        padding: 15px;
    }
    .title-content p {
        max-width: 100%;
    }
    .title-content h2 {
        font-size: 45px;
        line-height: 1.15em;
    }
}
/*====================================*/
.qa-dev-content .section-wrapper {
    padding: 0 50px;
}
.qa-dev-text {
    display: flex;
    position: relative;
    top: -480px;
}
.qa-dev-text > div {
    width: 50%;
}
.qa-dev-text > div:first-child {
    padding-right: 100px;
}
.qa-dev-text > div:last-child {
    padding-left: 100px;
}
.qa-dev-text h2 {
    font-size: 40px;
    margin: 0;
    padding: 0 0 20px;
}
.qa-dev-text p {
    margin: 0 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.qa-dev-text a {
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.qa-dev-text a svg {
    width: 32px;
    margin: 5px 0 0 10px;
}

@media screen and (max-width: 1200px) {
    .qa-dev-text {
        top: -400px;
    }
}
@media screen and (max-width: 1025px) {
    .qa-dev-text {
        top: -365px;
    }
    .qa-dev-text > div:first-child {
        padding-right: 50px;
    }
    .qa-dev-text > div:last-child {
        padding-left: 50px;
    }
}
@media screen and (max-width: 900px) {
    .qa-dev-content .section-wrapper {
        padding: 0 20px;
    }
    .qa-dev-text {
        top: -365px;
    }
}
@media screen and (max-width: 800px) {
    .qa-dev-text {
        top: -315px;
    }
    .qa-dev-content .section-wrapper {
        padding: 0 20px;
    }
}
.quality-mobile,
.dev-mobile {
    display: none;
}
@media screen and (max-width: 700px) {
    .qa-dev-content .section-wrapper {
        padding: 0 0;
    }
    .qa-dev-text {
        position: static;
        flex-direction: column;
    }
    html .qa-dev-text > div {
        padding: 0 0 20px;
        width: 100%;
        display: flex;
    }
    .quality-mobile,
    .dev-mobile {
        display: block;
    }
    .qa-dev-text > div:first-child,
    .qa-dev-text > div:last-child {
        padding: 0 0 40px;
    }
    .quality-and-dev {
        display: none;
    }
    .quality-mobile {
        width: 200px;
    }
    .qa-dev-text > div {
        padding: 0 20px 20px 25px;
    }
    .qa-dev-text > div > div:first-child {
        width: 30%;
        padding-left: 20px;
    }
    .qa-dev-text > div > div:last-child {
        padding-left: 20px;
        padding-right: 20px;
        width: 70%;
    }
    .qa-dev-text h2 {
        font-size: 26px;
    }
}
/*background style*/
.home-page main {
    background: url(../images/grey-bg.svg) no-repeat -300px 600px;
    background-size: 500px;
    animation: move-ring 0.9s ease;
}
.home-page .main-wrapper {
    background: url(../images/light-red-bg.svg) no-repeat right -300px top 1300px;
    background-size: 500px;
    animation: red-ring 0.9s ease;
}
@keyframes move-ring {
    0% {
        background-position: -500px 600px;
    }
    100% {
        background-position: -300px 600px;
    }
}
@keyframes red-ring {
    0% {
        background-position: right -500px top 1300px;
    }
    100% {
        background-position: right -300px top 1300px;
    }
}
/*end of background style*/
/*planning style*/
.planning-content .section-wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 50px;
}
.planning-content .section-wrapper .planning-animations {
    position: absolute;
    top: -434px;
    width: 69%;
    left: 50%;
    transform: translateX(-50%);
}
.planning-text {
    display: flex;
    align-items: center;
}
.planning-text > div {
    width: 50%;
}
.planning-text > div:first-child {
    padding-right: 50px;
}
.planning-text > div:last-child {
    padding-left: 50px;
}
.planning-text h2 {
    font-size: 40px;
    margin: 0;
    padding: 0 0 20px;
}
.planning-text p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.planning-text a {
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
}
.planning-text a:hover {
    text-decoration: underline;
}
.planning-text a svg {
    width: 32px;
    margin: 5px 0 0 10px;
}
@media screen and (max-width: 1100px) {
    .planning-content .section-wrapper {
        padding-top: 0;
    }
}
@media screen and (max-width: 1025px) {
    .planning-content .section-wrapper {
        padding-top: 60px;
    }
    .planning-content .section-wrapper .planning-animations {
        top: -320px;
        width: 70%;
    }
    .planning-text > div:first-child {
        padding-right: 0;
    }
    .planning-text > div:last-child {
        padding-left: 20px;
    }
}
@media screen and (max-width: 800px) {
    .planning-content .section-wrapper {
        padding-top: 20px;
    }
    .planning-content .section-wrapper .planning-animations {
        width: 85%;
    }
}
@media screen and (max-width: 700px) {
    .planning-content .section-wrapper .planning-animations {
        position: static;
        transform: translateX(0);
        width: 100%;
    }
    .planning-text {
        flex-direction: column;
    }
    .planning-text > div {
        width: 100%;
    }
    .planning-text h2 {
        font-size: 26px;
    }
    .planning-text p {
        margin: 0;
    }
    .planning-text > div:last-child {
        padding-left: 0;
    }
    .planning-text {
        padding-top: 20px;
    }
}
/*end of planning style*/
.interesting-facts {
    background: #1b2833;
    color: #fff;
    padding: 100px 0;
    height: 80vh;
    max-height: 800px;
    display: flex;
    align-items: center;
}
.interesting-facts h2 {
    font-size: 40px;
    margin: 0;
    padding: 0 0 20px;
}
.interesting-facts p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.interesting-facts a {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.interesting-facts a svg {
    width: 32px;
    margin: 5px 0 0 10px;
    fill: #fff;
}
.facts-item {
    height: 150px;
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px;
    text-align: left;
}
.facts-item strong {
    font-size: 45px;
}
.facts-content {
    display: flex;
}
.facts-heading {
    width: 50%;
    padding-right: 50px;
}
.fact-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 50px;
}

@media screen and (max-width: 1025px) {
    .facts-heading {
        padding-right: 20px;
    }
    .fact-wrap {
        padding-left: 20px;
    }
    .interesting-facts {
        height: auto;
    }
}

@media screen and (max-width: 750px) {
    .interesting-facts {
        padding: 20px 0;
        max-height: none;
    }
    .facts-content {
        flex-direction: column;
    }
    .facts-heading {
        width: 100%;
        padding-bottom: 20px;
    }
    .fact-wrap {
        padding-left: 0;
        width: 100%;
    }
}
.case-studies {
    padding: 50px 0;
    background: #f0f0f0;
}
.case-studies h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.case-studies p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.client-logos ul {
    display: flex;
    list-style: none;
    margin: 30px 0;
    padding: 0;
    flex-wrap: wrap;
}
.client-logos ul li {
    margin: 0 10px 10px 0;
    background: #fff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.client-logos ul li img {
    max-height: 130px;
}
@media screen and (max-width: 700px) {
    .case-studies {
        padding: 0;
    }
    .interesting-facts {
        padding: 0;
    }
    .client-logos ul {
        margin: 10px 0;
    }
}
@media screen and (max-width: 570px) {
    .client-logos ul li {
        width: 100%;
        margin: 0 0 10px;
        text-align: center;
    }
}

a {
    text-decoration: none;
}
