<header>
  <div class="default-header-wrapper">
    <a href="/" class="logo">
      <span class="visually-hidden">rckr software</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 370 81"
      >
        <path
          fill-rule="evenodd"
          fill="rgb(245, 130, 70)"
          d="M59.032,0.272 C62.204,0.272 65.376,0.272 68.547,0.272 C68.547,15.497 68.547,30.726 68.547,45.951 C69.914,46.032 70.825,46.110 71.358,45.289 C73.880,37.198 76.404,29.106 78.926,21.015 C82.313,21.015 85.702,21.015 89.089,21.015 C89.089,21.089 89.089,21.162 89.089,21.236 C86.639,28.370 84.188,35.507 81.737,42.641 C81.042,44.658 78.766,47.846 79.359,50.585 C82.602,60.440 85.846,70.299 89.089,80.154 C85.630,80.081 82.169,80.007 78.710,79.934 C76.259,71.255 73.808,62.574 71.358,53.895 C70.421,53.895 69.484,53.895 68.547,53.895 C68.475,62.647 68.403,71.402 68.331,80.154 C65.231,80.154 62.131,80.154 59.032,80.154 C59.032,53.530 59.032,26.897 59.032,0.272 ZM51.897,36.683 C48.798,36.683 45.698,36.683 42.598,36.683 C42.868,28.755 39.167,29.430 36.710,29.389 C32.736,29.322 32.231,32.793 32.231,36.650 C32.231,42.334 32.220,50.135 32.219,55.660 C32.219,58.180 32.298,61.739 32.378,64.815 C32.455,67.768 32.617,71.978 37.433,72.008 C41.105,72.032 42.744,69.436 42.598,64.708 C45.698,64.708 48.798,64.708 51.897,64.708 C52.167,78.112 43.789,80.516 36.134,80.516 C29.015,80.516 22.936,74.390 22.936,66.119 C22.936,58.114 22.921,53.503 22.921,45.289 C22.993,41.023 23.065,36.756 23.137,32.490 C26.540,15.304 52.270,16.085 51.897,36.683 ZM18.813,20.574 C18.813,23.737 18.813,26.900 18.813,30.063 C15.285,30.007 12.289,30.484 10.812,32.490 C8.682,35.383 9.297,36.073 9.298,41.068 C9.298,52.247 9.298,68.975 9.298,80.154 C6.199,80.154 3.099,80.154 -0.000,80.154 C-0.000,60.443 -0.000,40.726 -0.000,21.015 C2.883,21.015 5.767,21.015 8.649,21.015 C8.649,22.192 8.649,23.369 8.649,24.546 C12.255,23.327 13.018,20.600 18.813,20.574 ZM114.173,20.574 C114.173,23.737 114.173,26.900 114.173,30.063 C110.901,30.013 107.788,30.418 106.388,32.269 C104.100,35.294 104.657,41.506 104.658,46.834 C104.658,57.939 104.658,69.049 104.658,80.154 C101.559,80.154 98.459,80.154 95.360,80.154 C95.360,60.443 95.360,40.726 95.360,21.015 C98.315,21.015 101.271,21.015 104.226,21.015 C104.226,22.118 104.226,23.222 104.226,24.325 C107.729,23.148 108.604,20.601 114.173,20.574 Z"
        />
        <path
          fill-rule="evenodd"
          fill="rgb(53, 71, 86)"
          d="M197.640,21.015 C200.234,21.015 202.830,21.015 205.424,21.015 C205.424,22.339 205.424,23.663 205.424,24.987 C202.830,24.987 200.234,24.987 197.640,24.987 C197.640,43.375 197.640,61.767 197.640,80.154 C196.198,80.154 194.756,80.154 193.315,80.154 C193.315,61.767 193.315,43.375 193.315,24.987 C191.946,24.914 190.576,24.840 189.206,24.767 C189.279,23.516 189.351,22.266 189.423,21.015 C190.720,21.015 192.018,21.015 193.315,21.015 C193.020,8.735 192.501,-1.708 205.640,0.272 C205.640,1.449 205.640,2.626 205.640,3.803 C205.568,3.950 205.496,4.097 205.424,4.244 C202.990,3.433 199.860,4.255 198.937,5.789 C196.814,8.695 197.585,16.121 197.640,21.015 ZM215.371,13.292 C216.452,13.292 217.533,13.292 218.615,13.292 C218.615,15.866 218.615,18.441 218.615,21.015 C221.858,21.015 225.102,21.015 228.345,21.015 C228.345,22.339 228.345,23.663 228.345,24.987 C225.102,24.987 221.858,24.987 218.615,24.987 C218.615,36.240 218.615,47.497 218.615,58.750 C218.614,63.495 217.776,70.378 219.479,73.755 C220.728,76.231 224.677,77.118 228.345,76.403 C228.345,77.727 228.345,79.051 228.345,80.375 C223.345,80.663 218.698,80.383 216.452,77.286 C213.897,73.761 214.289,66.775 214.290,60.736 C214.290,48.821 214.290,36.902 214.290,24.987 C212.993,24.987 211.695,24.987 210.398,24.987 C210.398,23.737 210.398,22.486 210.398,21.236 C212.233,21.243 213.214,20.812 214.290,20.133 C214.917,18.315 215.304,15.859 215.371,13.292 ZM146.392,33.373 C145.022,33.373 143.653,33.373 142.283,33.373 C142.078,20.276 123.222,22.703 125.633,34.035 C128.235,46.266 150.982,56.579 146.392,71.990 C142.517,85.000 120.845,83.416 120.660,67.576 C122.173,67.650 123.687,67.723 125.201,67.797 C125.036,81.087 145.234,79.173 142.499,65.811 C140.015,53.673 117.706,43.666 121.741,28.959 C125.266,16.111 146.271,17.440 146.392,33.373 ZM369.763,52.130 C362.412,52.130 354.059,52.130 346.707,52.130 C346.515,59.591 346.313,71.636 350.518,74.858 C357.045,79.860 365.119,75.193 365.439,67.576 C366.880,67.650 368.322,67.723 369.763,67.797 C369.537,78.316 357.523,84.950 348.356,78.389 C346.162,76.819 344.373,73.859 343.599,70.886 C341.804,63.996 342.718,30.353 345.113,26.311 C349.163,19.476 362.719,18.098 367.385,25.429 C370.936,31.009 369.882,43.108 369.763,52.130 ZM168.772,20.963 C172.770,20.963 177.936,22.077 180.557,26.532 C183.059,30.786 182.287,39.049 182.287,45.730 C182.287,61.575 186.207,80.734 168.123,80.734 C153.768,80.734 155.906,64.081 155.906,48.599 C155.906,41.875 154.950,32.866 156.987,27.856 C158.840,23.300 164.578,20.963 168.772,20.963 ZM296.649,20.745 C298.099,20.745 305.185,21.333 306.839,24.987 C307.127,24.987 307.415,24.987 307.704,24.987 C307.704,23.663 307.704,22.557 307.704,21.233 C309.073,21.307 310.443,21.162 311.812,21.236 C311.740,40.873 311.668,60.517 311.596,80.154 C310.227,80.081 308.857,80.007 307.488,79.934 C307.488,78.683 307.488,77.433 307.488,76.182 C305.686,77.433 302.346,80.516 298.164,80.516 C292.318,80.516 289.658,78.728 287.561,75.062 C285.370,71.232 285.398,68.287 285.398,68.082 C285.398,56.273 285.614,36.319 285.614,32.525 C285.614,24.526 293.044,20.745 296.649,20.745 ZM337.977,20.574 C337.977,21.971 337.977,23.369 337.977,24.767 C333.471,24.752 330.105,26.500 328.462,29.401 C326.575,32.732 327.381,39.838 327.381,44.847 C327.381,56.615 327.381,68.387 327.381,80.154 C325.940,80.154 324.498,80.154 323.056,80.154 C323.056,60.443 323.056,40.726 323.056,21.015 C324.426,21.015 325.796,21.015 327.165,21.015 C327.051,22.553 326.866,24.635 327.814,25.208 C329.224,22.004 333.314,20.485 337.977,20.574 ZM233.751,21.015 C235.265,21.089 236.779,21.162 238.292,21.236 C240.887,36.313 243.482,51.396 246.076,66.473 C246.293,66.473 246.509,66.473 246.725,66.473 C249.176,51.322 251.627,36.166 254.077,21.015 C255.302,21.089 256.528,21.162 257.753,21.236 C260.132,36.313 262.511,51.396 264.889,66.473 C265.105,66.473 265.322,66.473 265.538,66.473 C268.204,51.322 270.872,36.166 273.538,21.015 C274.980,21.015 276.422,21.015 277.863,21.015 C274.332,40.726 270.799,60.443 267.268,80.154 C265.970,80.154 264.673,80.154 263.375,80.154 C260.925,64.930 258.474,49.701 256.023,34.476 C255.807,34.476 255.591,34.476 255.375,34.476 C252.996,49.701 250.617,64.930 248.239,80.154 C247.014,80.154 245.788,80.154 244.563,80.154 C244.419,80.081 244.274,80.007 244.130,79.934 C240.671,60.296 237.210,40.653 233.751,21.015 ZM168.880,24.980 C166.319,24.980 162.085,26.046 161.096,30.058 C160.354,33.067 160.231,39.915 160.231,44.627 C160.231,50.357 159.977,58.624 159.977,65.342 C159.977,72.483 163.808,76.589 168.339,76.589 C176.083,76.589 177.888,71.382 177.888,65.598 C177.888,58.570 177.746,50.928 177.746,44.185 C177.746,39.159 178.217,32.198 176.345,28.817 C174.730,25.899 172.241,24.980 168.880,24.980 ZM297.947,24.890 C292.879,24.890 289.725,28.118 289.725,37.548 C289.725,44.010 289.941,57.868 289.941,67.209 C289.941,71.500 292.972,76.153 297.082,76.153 C305.604,76.153 307.549,71.085 307.549,65.143 C307.549,58.018 307.684,40.112 307.684,33.616 C307.684,27.908 303.321,24.726 297.947,24.890 ZM346.707,48.599 C352.545,48.599 359.385,48.599 365.222,48.599 C365.438,38.447 366.967,26.301 358.735,24.546 C345.578,21.741 346.485,37.553 346.707,48.599 Z"
        />
      </svg>
    </a>
    <nav>
      <div class="mobile-menu-icon">
        <button class="menu-button" id="menu-button" onclick="menuClick()">
          <span></span>
        </button>
        <div class="close-button"></div>
      </div>
      <ul id="header-nav-links">
        <li class="nav-link">
          <a href="/">Home</a>
        </li>
        <li class="nav-link">
          <a href="/services.html">Services</a>
        </li>
        <li class="nav-link">
          <a href="/aboutus.html">About Us</a>
        </li>
        <li class="nav-link">
          <a href="/careers.html">Careers</a>
        </li>
        <li class="nav-link">
          <a href="/blog/thoughts.html">Thoughts</a>
        </li>
        <li class="nav-link">
          <a href="/contact-us.html">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
